@(helloForm: Form[(String, String, String, String)])

@import helper._

@main(title = "Recipe editor") {

    <h1>Edit your recipe</h1>

    @form(action = routes.Application.sayHello, args = 'id -> "helloform") {

        @inputText(
            field = helloForm("recipe_name"),
            args = '_label -> "Recipe name:", 'placeholder -> "respond_to_"
        )
        
	<table>
	<tr>
		<td>
        @inputText(
            field = helloForm("uu_string"),
            args = '_label -> "Regex to match user utterance:", 'size -> 3, 'placeholder -> "(?i:hello)"
        )
		</td>
		
		<td>
        @select(
            field = helloForm("relation"), 
            options = options(
                "equal" -> "equal",
                "substr" -> "substr",
                "PartialMatch" -> "PartialMatch",
                "CompleteMatch" -> "CompleteMatch"
            ),
            args = '_label -> "Relation:"
        )
        </td>
      </tr>
	</table>
	   
	   @inputText(
            field = helloForm("ru_string"),
            args = '_label -> "Robot speech:", 'placeholder -> "Hey, earthling!"
        )
	
        <p class="buttons">
            <input type="submit" id="submit">
        <p>
        

  <!-- this is used for first time display of clickstart - a template-->
  <div id="clickstart_content" style="display:none">
     <p>
      Congratulations, <a href="#CS_appManageUrl"><span>#CS_appName</span></a>, your <a href="#CS_docUrl"><span>#CS_name</span></a> application is now running.<br />
      To modify it, take the following steps to clone the source repository:
    </p>

    <div class="CB_codeSample">
      git clone #CS_source #CS_appName<br/>
          cd #CS_appName<br/>
          ---- do your magic edits ----<br/>
          git commit -m 'This is now even better !'<br/>
          git push origin master
    </div>

    <p>Manage your application components at the following URLs:</p>
    <ul>
      <li><strong>Core application:</strong> <a href="#CS_appManageUrl">#CS_appManageUrl</a></li>
      <li><strong>Database:</strong> <a href="#CS_dbManageUrl">#CS_dbManageUrl</a></li>
      <li><strong>Jenkins Build System:</strong> <a href="#CS_jenkinsUrl">#CS_jenkinsUrl</a></li>
    </ul>
  </div>

  <script type="text/javascript" src="https://s3.amazonaws.com/cloudbees-downloads/clickstart/clickstart_intro.js"></script>
  <!-- end clickstart intro section -->
        

    }

}
